<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace" configProtectionProvider="ProductionProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>ZQTBlR3cHabeoFFsJuJO2fBPLr4V3bBdjD9M6o6OLSmuahVa3Jz7r+vockD1fq1wCoc6b/OMW2twX48D2ct+tKpM6k3F12+3o4HGOd47HbtH6zZdtBV3dYltkoNZUJ/r35O6LWxGtuTNe/5Du6LG5V7r7nKxNDeoUzEcIMLMcRc=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>e9ImqfotmH9YBkJFiNCOQiV2HPbCSaai8oM9MNoPAgRmxwnmO1ARg4NW2f3Qx+j3lysfkxX8HxVgu5hObjAo3hkwwYiTwDTh6BIbbT97mLo9WR/sZhM0vVkX49RBO26HG9sQTgnkR83zSLM8K6YTQEnMMMAN3JhbZtS5O48zSfWpZ8E19+AYQSFSdnMilk3hrWAq8L9xBHxrY7p9S+iz+cs1Qd9o+GB8DPQski4zi4bbHQecKQT+p4haYOp2Fs9nI/xRnrgJU7YXCYMgHuRgrOQUFtRCy1vlqCSc4VVfZCUb3i/NmY4hIEEc7NW+phkMH2z1s0j8Ux+a3mIu7Cymw10AiRGYFTp9HlapINRhO3InnAYq2jIxNghc0x3jWZ9beVYg2SP1p98lsJf/4Lmw//eXItBGF/pwx1iEQrHhenlp2rku2/l8+lCJQSvbnbNkd0sHLfEvpn4=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

  <socialSettings xdt:Transform="Replace" configProtectionProvider="ProductionProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>y7qVhI+zJsxKn3LbWFmtxdsG8QfmlpGELUsD3QA5cr0yvBFkdGilAmO9o+rk7HDjZKhXNnk9utqXchaHY1yGro4GJJvGFV/mO5qk9kEU9Dd6CP4h+OCnouS2Iw2jt3AZpUCx8miBm3j23a3wOkL5Jh27hBuoYCn371X86lM/JsU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>WUZFEv/W6rFb0I0h4VirZuvsKa0phJPOQhP/+lpeEZ75aFm6CkpaJ/UcoOqQa9jp8K/e6DnIVm5xshKIdC0CnVJ1oz0KIceZiZVMufFRL++Gy5W7fZdNc2Ny5bHfpt4OI8Emexajz22fpU61hFNGxF783JsrIzy+Sq0CHTzKkY/Rfbcx38YwwczW6jWH6MN0OGzcHwMWwoiGnAeZYctdwIZy1SqVw6KLfS8V7gfrAtEpjUNLr6WviMQBWmrd5wZgQFdXWBUrIc+vM+rQBOAmiCjRXy6ENXeWJhrg3R7rA0RL/h4OsdBoel+Dbyfvq6FP8e65gi/442m1o4eaxun4BbxDGZlMvlQ3Q55mhVMYWgXY1LaX6D5wVt42T1V6A02AEQXs7U0+jADFtEaEOwfLL/735/fqfBYBZKaxZqS92cXwENHYhK+QGqx4pRwvAXigt2+DU4XASfnyI3AhF4hIdyKXVv2cNzFKojp7YUfNuWJROrWLEyPYXxrHUsCES3Bln70KcSTOMqg+7lY89K1WyMIYUCua2oFCWjTRpwHmjO4ECJLpCcv2c2YKGIE+Zx8zR9aiPIdg0KzVhjeFMVV0ZVOy8wF6RZGYT67aDB72buNS7lBSbPQzAS8Ic4ohEMCUXLZF6UgtNSo2HI2H+PK3kZiUe2BjYUkJ</CipherValue>
      </CipherData>
    </EncryptedData>
  </socialSettings>

  <appSettings>
    <!-- Меняем атрибут value у AppBaseUrl -->
    <add key="AppBaseURL" value="http://my-domain.com"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />
    <!--
      Вставляем элемент add key="ShareFolder" перед элементом add, находящимся в configuration->appSettings, и имеющим аттрибут key="MvcMailer.BaseURL"
    -->
    <add key="ShareFolder" value="~/shared"
         xdt:Transform="InsertBefore(/configuration/appSettings/add[@key='MvcMailer.BaseURL'])" />
  </appSettings>
  <!--Вставляем секцию System.net с настройками email-->
  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp from="test@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="test@gmail.com" password="506484654" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!--Удаляем аттрибут debug у всех элементов compilation в узле system.web-->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>