<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace" configProtectionProvider="DeveloperProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>PoHNnDCy+fHQWWIlq1aO9iydOsg9LRp0MTHMqyUiWbZPC4Qzo0fC4libErd5xRmOAq8k1jIYqe8bvH9FHwKBCXFyFN5ZkEGSVReVg8RCfOa/UL4CGDyAGdHS2mUQTHRtnRCZ1TCxtxGy8aAGAJMfB5d0NU/CKkz9zt9DR2HkC/k=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>o6+uX4K35vfUcPZ1a5T8C46tdo4hyz+OUra3zc2FfUqMqJ4De5jF5dZ+VV/ZjDZ37PPN3eEFKKPBk4wIjezFblFOg18YevbedpdqEARfW5l/OXifunI7K1fqW6xePCUKFDfmyu4pcPxldhpVtg6fKrCbSK+vpcZik4Uf3SZSKpiF2HHwYLuUpAqoBK54vfVmxuSvnA1IvLQCgUo5525pPch2/wCOX8xbqaH9adMTVBk9SbNI/PxBzzv7Arj1pSXIf1RTDY/lVI/CPgyrYkRaP2VbfSVSEsBLivgPRFckwMrfZRRH0P07C0Utqjs/Fxhf7xnu1aFyvMeaud7BPDaVBV7HV1b48SVARtzn5UmMZpRgk9214ivHpC21FojHDNyfbko8CGMDbx5sLfr31Iywe//5LOTtz7xDnFAERUb0WQxK+Yy1cbPTcGxwAsbGPWNXJ8yoG4chcYU=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

  <socialSettings xdt:Transform="Replace" configProtectionProvider="DeveloperProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Enj2hskHnegDmg8WEz5umWA/3Fj6zHhiuYbdxG1iJm4ajwoPBZc7FR7zX+poLZ+wbt4EMyFhm8DO8jKz6ymONbl/gt6dFxJQoSfSrqKqCg28y0JvnpVGHexnhZw6vuVwGFVqdpnaH3JhwmTSH5m/3a0H3oqehyklWKPLFPnFtZo=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>ZdcGl3MIBhdad2XfXajXeVZ0n9ylQ5mbGvjG2GzjzyTtyBfWqjVKA3uOsJDgwfl7gfdXn32rlkwdcVYtgkp4rxyLxpfax7KyTLCtGEY0KrTCxuBbfWZxwEv7KsZloLy0gAqo5ELmnqAoCkq4xMMAjNgJ0fqsrtxOx2UFErbrHuGts+NckZkSe1MC+6+LdEejHmUi7iSijQDs2WBddzDNqPBo64VCIHFsTXMsESs63AKKXa0B1nz5gh/loQG/O+ED98UCLoh1SJ1XBwgPNNUXN5SkZdo7Q7dDUAXcNTVoLWcoNLK7BN6qG1J6kEx7yXyQQDoQDt+9vXFY54PjF/yoPSCgm3zKrxmmBrEWCP6pLF+uNf8S14S//VIGXIiDldEJd5Z2zpLSQTXWv+XaRc9as+lx4YTDGwKv6M1ns7qkWjxs4Ri15/ML0eznNNbVLUwDQwkL96/guYEQ60CqHAKRtmqMGKy0JKc1TF07W/15xz7QfUXzGft0zbA1RWVHUiKKoqV93+VwRpfRQ3jtrDmLJHguQYUSwiO4NBSWFEJ218YanclpKlXK8xg627n94ZhCJ+KTb/C28WBoYOxZlhC+HItOP6CWzQ1tjUalCUcsv11hWF71avRMIGEO/seFi3A7DD/GBJy1kqq2b5w07sB65kbOPdGdtqY/</CipherValue>
      </CipherData>
    </EncryptedData>
  </socialSettings>
</configuration>