<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Т.к. в нашем тестовом приложении используется шифрование секций на уровне приложения,
    полностью заменяем секции connectionStrings и socialSettings. При запуске приложения на сервере, они будут зашифрованы.
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="remoteDb" providerName="System.Data.SqlClient"
         connectionString="data source=remotehost\SQLSERVER2012exp;initial catalog=remoteDb;persist security info=True;user id=userfordb;password=gfhfv19sWf63wYuso" />
  </connectionStrings>
  <socialSettings xdt:Transform="Replace">
    <Settings>
      <add key="Twitter.consumerKey" value="JI8mtsaBUL5R3C7Jik09pls" />
      <add key="Twitter.consumerSecret" value="ui88Njdu78TgfjupNwLdkTR5Im6IDRRtVOxcgVkiOOng" />
      <add key="Facebook.appId" value="999999999999999" />
      <add key="Facebook.appSecret" value="fufsdqawd95dw3aw6dage4eee9ee0" />
      <add key="VKontakte.appId" value="9999999" />
      <add key="VKontakte.clientSecret" value="poidkHebauOwhna0927IGwu28Y82Ydbw" />
    </Settings>
  </socialSettings>
  <appSettings>
    <!--
      Вставляем AppBaseUrl перед элементом add, находящимся в configuration->appSettings, и имеющим аттрибут key="MvcMailer.BaseURL"
    -->
    <add key="AppBaseUrl" value="http://my-domain.com"
         xdt:Transform="InsertBefore(/configuration/appSettings/add[@key='MvcMailer.BaseURL'])" />
  </appSettings>
  <system.web>
    <!--Удаляем аттрибут debug у всех элементов compilation в узле system.web-->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>