<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace" configProtectionProvider="TestProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>U3hkKpISngFAMVyeSrplRHArjaznxhnLhPof23UTYewAqerIcpM84QOBnvBz+JA9ibvVNpEMIymJ4bWRPsOgFON6GQ2rVnT5q8sukpsFg2XX4FjQAhmUUVifrQgd0TJNTo22wNji2bRxo3a5FqpfDgPWhm8leBOZZdXZmjBAJbY=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>0gthFLosen9l2F2ysz/XoO5jaCXugeVpTvQJFhQpg39MWsTdl3oKchYHZmGtqzq8WN9eDQbaPk07Yo1og4RaUKAxPUg2jSB7E6n0fMaCv1Cj8btllZSNrPwEl1aK8MXAM7505mT2F9D+DnIqwflQdshlKCNm1PKrsZ80K/c8FUika4vPmelhdaMnU4mQ+4SIdfP7oXdSyspiYmvYaQCufE2G5LBgetglBl/txE+yLJujOcDMFlry1EjXDeB39l+ev2cUzac+yOvabeq5lzw5oGWcoGmD+jdVDJhAOyCZm7YrxGW91wS3HEFpQbh++b8YML7F8pvlM9U8WbMjbAEGEEb8TSoPIMqTX8LJHs3B/CSmnWpXYB3bp4iA9QybRLX5/3sDQbMNO3E9y6l02jB4NhitYR26hZ4VE0K/2a5LNVsHg9j53GLh6txMsJjpxA+6WiqqaR0p7tA=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

  <socialSettings xdt:Transform="Replace" configProtectionProvider="TestProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>CR+9evglDBBsBIZGLdHtKx30SFyU23TyZAATX9N0ms9cxRInBkI1lt9vFZ/lAjXhJRTnvt+hzEjzK8wsAt1RfnG4q5RHnjW2kOuGS/wiuE3iVM721aB8m/qmEx2BLB5oWGWWTJKlmSCDdp+f0pVjlbyV3wYKdWSh1eOWQpDmDik=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>67Pc+nWAYt5Pdb/RYlMQB1o+ogJshHXLkic5igp9h/2xGoE4CdDdpGP1S2CxyfPXZGvHJmlpm/XXwdKIoesGdH4mMYDbS0uVIyT9JEe16g1ndO65lzGz1DAlIACDbQCFPhjjoDbYNyYFGtbU9ltzXYgwLgr8g67t3aPQbkAqopfUqqu5gWATvH5WgQBeqj1ESWn0VmD418BMqRHcJ+uZChLkGjcRIXxdaKnPrl4ch9By3s7ZcodXspx0g5fAFreJcm+RXG+k9LqeWUebNNQYGqdkrs3PqBxnF7+yDg1uTtBOYdSoU/H2QQNYb0u3fvOKvDNt+a/RYx6dbrNcp1bd3cq241KefArAkAWcaNY/Aighcri4dvKH91VX5t/G+9RWbHi9JIyUAxP3HusmwAnGzf0hHZhl2rF6w8rz5WOqsEWZP93E5EvlY9uNTESKercPD8pmQtN1jayM8Dp1pV+vvh2LLOfbGnIOx4N0j1yyApAoB19wvFXbqJwAon7v0x/dGx+V2TNbXP7cqDb+CFraAFXguzCvGkCzid2ioFFgz4hrb/ANh7sRg3KLJAXkHTk1tNL7/Iyit81R58fWNr4sfPGoA8kEqGylpErLhkcaa+D4s/oORO2JXPbc4aWp/ZdGP84V0/H7O0BlrBBmYnMECdckp+lItpNc</CipherValue>
      </CipherData>
    </EncryptedData>
  </socialSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>