<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="socialSettings" type="TsSoft.WebSamples.ConfigSections.SocialConfigSection, TsSoft.WebSamples" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <configProtectedData>
    <providers>
      <add name="CustomProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           keyContainerName="CustomKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TsSoft.Social.Samples-20130211182732;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TsSoft.Social.Samples-20130211182732.mdf"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <socialSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>qAPr4B6SWZ8N8EdkqnAifYQJD016XNegmtIfzTS5Kl4v4/t+HNVOJxQRyIBLk47yuvDGdYdqIOSDhXaClUhTQZqy8B2kPkWoLFljQKJaG2XRKJp3PyQLra2AlZ9eeTS8qeb/XazbD/trukA8zyZHcdbri35GpTxuE/c38xQmAUY=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>7Yuv1YDeyUIg46kU+kfHKSEINkuu4H7WIrgAEN6wfJrlnh5MjExyeIoOqgz5qHDDidfw5OI1ocopF015dHQGOYZfGaLIeU1dSI1O76RTJPBRVatKLpwW/iPMhczQUlXSI/QaL8phBv7C8S5UwlVn8h/i4UsX7hdD5VRhIkY/Hn5WEbaoJV8QB8ziYYTIHA3AbJFM1C8ja/eEmOY3xSv1obgf5VO4nNJIYXxWTQLm+tO/3T1uwpTFIlRZ6kZ4VG0R/BzsE5yu+sf9n0exKVahTf9xK8lIOhm1nBvSv97WftqWBe1rcojrmnp2y9ilp3zy74sqcBZRc0avajcTr/iDwOl+6KDxDep5Ynck70irRY4AhnBi0x3LnGFCmYyukvo8v01DNchCszYs8IWfnHwiHQoWUrZaf7L5jYKvDpUo20hr+4i40fPzYr4KOdz9aMdYUEDRNwMjOLQeIcUpuPbokHDD9lsGibKSNUh8Km1XfLBI4MXbjGPNV+HCW5PdURkQtCwCtqUGr7auFmfMNYZvYAPZDBAm6W+lyyT6p6akjd/mGQtImmb0zmXwbvCeRm/anHChAZUpXNRVJLGOfXNm2HVLCoryPxcB4+XllZQZ1YPA6IkvLd29kUsWrzWQiyMldo34wbm4s72nDlIk5NGFuSNZdcltyCQC</CipherValue>
      </CipherData>
    </EncryptedData>
  </socialSettings>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcMailer.BaseURL" value="http://localhost:1967" />
    <add key="AppBaseURL" value="http://localhost:1967" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>apNna2+5UmY+YF6bi8NO9R06+g6vuY2ngn1NSXkMQK2sCCaVIBJgfQ8yB7a4oe5gr4pxNsKyWeip9LUf4usg+kg17d5EMzl03BToy22FrQYa5TtgnGWUdU4QukCnb6ISsjDxVom2ltmAYI7qnwrCr5F0UQ6YNhlpddzmWXV1+XE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>AjcswPqWrbphoksHl3B41OhzuN0xroW6FKGG+l58LE1lZaxEYUxegoFlhZ5Zfe/IX+3E1jaXlF5Rw0dg0nbU3thHpgvS7nAnLsFBAYRUOXlfhjmI7G3Pus04QbVvpzL/mecvH6hi0bLtBXcRjlnb5rS/PQMInDpNTrQYSKvHMXzh0DH+LKtMdNmzLsVlMUJEFzIP/6+ZQC/Id+O+0KCIR/Scx/9Gg+p1CeolD49/OB2saWBLD3l/jEGaWVvwETr3bZrzuigGNgh1LE7sOnMMRHZGFPl32V+NlNX6tK1e8TX8ak0LgwyIB5WgmWw/do7WfZMVnDcqAyItrvj9Iul99acZXgqv80sg8UyflpEAXvVUN/alXll66w==</CipherValue>
      </CipherData>
    </EncryptedData>
  </entityFramework>
</configuration>