<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="socialSettings" type="TsSoft.WebSamples.ConfigSections.SocialConfigSection, TsSoft.WebSamples" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <configProtectedData>
    <providers>
      <add name="ProductionProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           keyContainerName="ProductionKeys"
           useMachineContainer="true" />
      <add name="TestProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           keyContainerName="TestKeys"
           useMachineContainer="true" />
      <add name="DeveloperProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           keyContainerName="DeveloperKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <connectionStrings configProtectionProvider="DeveloperProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>PoHNnDCy+fHQWWIlq1aO9iydOsg9LRp0MTHMqyUiWbZPC4Qzo0fC4libErd5xRmOAq8k1jIYqe8bvH9FHwKBCXFyFN5ZkEGSVReVg8RCfOa/UL4CGDyAGdHS2mUQTHRtnRCZ1TCxtxGy8aAGAJMfB5d0NU/CKkz9zt9DR2HkC/k=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>o6+uX4K35vfUcPZ1a5T8C46tdo4hyz+OUra3zc2FfUqMqJ4De5jF5dZ+VV/ZjDZ37PPN3eEFKKPBk4wIjezFblFOg18YevbedpdqEARfW5l/OXifunI7K1fqW6xePCUKFDfmyu4pcPxldhpVtg6fKrCbSK+vpcZik4Uf3SZSKpiF2HHwYLuUpAqoBK54vfVmxuSvnA1IvLQCgUo5525pPch2/wCOX8xbqaH9adMTVBk9SbNI/PxBzzv7Arj1pSXIf1RTDY/lVI/CPgyrYkRaP2VbfSVSEsBLivgPRFckwMrfZRRH0P07C0Utqjs/Fxhf7xnu1aFyvMeaud7BPDaVBV7HV1b48SVARtzn5UmMZpRgk9214ivHpC21FojHDNyfbko8CGMDbx5sLfr31Iywe//5LOTtz7xDnFAERUb0WQxK+Yy1cbPTcGxwAsbGPWNXJ8yoG4chcYU=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

  <socialSettings configProtectionProvider="DeveloperProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Enj2hskHnegDmg8WEz5umWA/3Fj6zHhiuYbdxG1iJm4ajwoPBZc7FR7zX+poLZ+wbt4EMyFhm8DO8jKz6ymONbl/gt6dFxJQoSfSrqKqCg28y0JvnpVGHexnhZw6vuVwGFVqdpnaH3JhwmTSH5m/3a0H3oqehyklWKPLFPnFtZo=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>ZdcGl3MIBhdad2XfXajXeVZ0n9ylQ5mbGvjG2GzjzyTtyBfWqjVKA3uOsJDgwfl7gfdXn32rlkwdcVYtgkp4rxyLxpfax7KyTLCtGEY0KrTCxuBbfWZxwEv7KsZloLy0gAqo5ELmnqAoCkq4xMMAjNgJ0fqsrtxOx2UFErbrHuGts+NckZkSe1MC+6+LdEejHmUi7iSijQDs2WBddzDNqPBo64VCIHFsTXMsESs63AKKXa0B1nz5gh/loQG/O+ED98UCLoh1SJ1XBwgPNNUXN5SkZdo7Q7dDUAXcNTVoLWcoNLK7BN6qG1J6kEx7yXyQQDoQDt+9vXFY54PjF/yoPSCgm3zKrxmmBrEWCP6pLF+uNf8S14S//VIGXIiDldEJd5Z2zpLSQTXWv+XaRc9as+lx4YTDGwKv6M1ns7qkWjxs4Ri15/ML0eznNNbVLUwDQwkL96/guYEQ60CqHAKRtmqMGKy0JKc1TF07W/15xz7QfUXzGft0zbA1RWVHUiKKoqV93+VwRpfRQ3jtrDmLJHguQYUSwiO4NBSWFEJ218YanclpKlXK8xg627n94ZhCJ+KTb/C28WBoYOxZlhC+HItOP6CWzQ1tjUalCUcsv11hWF71avRMIGEO/seFi3A7DD/GBJy1kqq2b5w07sB65kbOPdGdtqY/</CipherValue>
      </CipherData>
    </EncryptedData>
  </socialSettings>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcMailer.BaseURL" value="http://127.0.0.1:1962/" />
    <add key="AppBaseURL" value="http://127.0.0.1:1962/" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>